TZ=Asia/Jakarta
API_KEY=ganti-dengan-kunci-rahasia

# Pendaftaran
PD_DB_HOST=db-pendaftaran
PD_DB_NAME=db_pendaftaran
PD_DB_USER=pendaftaran
PD_DB_PASS=pendaftaran_pass
PD_DB_ROOT_PASS=root_pass

# Rekam Medis
RM_DB_HOST=db-rekam-medis
RM_DB_NAME=db_rekam_medis
RM_DB_USER=rekam_medis
RM_DB_PASS=rekam_medis_pass
RM_DB_ROOT_PASS=root_pass
PENDAFTARAN_URL=http://pendaftaran
FARMASI_URL=http://farmasi

# Farmasi
FA_DB_HOST=db-farmasi
FA_DB_NAME=db_farmasi
FA_DB_USER=farmasi
FA_DB_PASS=farmasi_pass
FA_DB_ROOT_PASS=root_pass
